.desc {
    clear:both;
}

.redir_wrap {
    float:right;
    width:44%;
    text-align:right;
    padding:1%;
}

.global {
    float:right;
    width:44%;
    margin-top:1%;
    border-top:1px solid #e2e2e2;
    box-shadow:inset 0px 1px 0px #fff;
}

.global p span {
    font-size:10px;
}

.redir_settings {
    float:left;
    width:51%; 
    padding:1% 1% 1% 0;
}

.newroles {
    background: #f5f7b7;
    border:1px solid #f1f584;
    margin-right:15px;
    padding:10px;
    border-radius:5px;
}

.role_redirect {
    border-bottom:1px solid #e2e2e2;
    padding:10px;
    background: #f8f8f8;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
}

div.new {
    background:#f1f584;
}

/* */

/*.ui-autocomplete {
    background: #212121;
}*/

/* ACCORDION */

.redir_settings h3 {
    border:1px solid #ccc;
    box-shadow:inset 0px 1px 0px #fff;
    border-bottom:none;
    background: #e2e2e2;
    padding:10px;
    margin:0;
    text-shadow:0px 1px 0px #fff;
}

.redir_settings h3 a {
    text-decoration:none;
}

h3.new {
    background: #ccc;
}

.submitbutton {
    float:left;
    width:40%;
    clear:left;
}